$font: 'Helvetica', sans-serif;
$text: #333;
$link: rgb(9, 65, 102);
$gap: 15px;

@mixin transition($t: all 500ms ease) {
  -webkit-transition: $t;
  transition: $t;
}

@mixin origin($t: 50% 50%) {
  -webkit-transform-origin: $t;
  transform-origin: $t;
}

@mixin flex($direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}
